@model AKQ.Web.Models.TournamentResultsViewModel
@{
    Layout = "_ResultsLayout.cshtml";
    ViewBag.Title = "Tournaments Results";
    ViewBag.ActiveLink = "tournaments";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Hands to Play</th>
                <th>Time to Play</th>
                <th>Started at</th>
                <th>Was In Time</th>
                <th>Result Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.HandsToPlay hands</td>
                    <td>@item.MinutesToPlay minutes</td>
                    <td>@item.Started</td>
                    <td>@item.IsFinishedInTime</td>
                    <td>@item.TimeSpent</td>
                    <td>
                    <a class="btn btn-warning btn-small" href="#/replay/tournament/@item.Id/game/@item.GameId">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>