@{
    Layout = "../_GameLayout.cshtml";
}
<div class="gameLoading">
    <div class="circle"></div>
    <div class="circle1"></div>
</div>
<div class="gameTable" style="display: none">
    <!-- ko if: auction.visible -->
    @Html.Partial("_Auction")
    <!-- /ko -->
    <!-- ko if: isFinished -->
    @Html.Partial("_GameResult")
    <!-- /ko -->
    @Html.Partial("_NorthCards")
    @Html.Partial("_WestCards")
    @Html.Partial("_DealerCards")
    @Html.Partial("_EastCards")
    @Html.Partial("_SouthCards")
    @Html.Partial("_RightSideBar")
    
    <h2 data-bind="visible: isTournament"  class="deal-number">Deal <span data-bind="    text: $root.tableNumber"></span></h2>
    <h2 data-bind="visible: isTournament"  class="table-caption">
            <br /><br/>
            <span class="time-label" data-bind="text: timeLeft"></span>
    </h2>
</div>
@Html.Hidden("GameId", (object)Model)
