@{
    Layout = "../_GameLayout.cshtml";
}
<div class="gameLoading">
    <div class="circle"></div>
    <div class="circle1"></div>
</div>
<div class="gameTable" style="display: none">
    @Html.Partial("_NorthCards")
    @Html.Partial("_WestCards")
    @Html.Partial("_DealerCardsForReplay")
    @Html.Partial("_EastCards")
    @Html.Partial("_SouthCards")
    @Html.Partial("_ReplayControls")
    <!-- ko with: model -->
    <h2 class="deal-number">Deal <span data-bind="text: $root.dealNumber"></span>
        <!-- ko with: contract -->
        <span>
            <br />
            <span class="deal-number-value" data-bind="text: value"></span>
            <span data-bind="html: symbol, forecolor: color"></span>
        </span>
        <!-- /ko -->
    </h2>
    <h2 class="table-caption">
        <br />
        Trick <span data-bind="text: ($root.trickIndex() + 1)"></span></h2>

    <div class="table-caption">

        <h3>Target <span data-bind="text: contract.nsTarget() || contract.ewTarget()"></span></h3>
        <h3>NS <span data-bind="text: $root.nsTricks"></span></h3>
        <h3>EW <span data-bind="text: $root.ewTricks"></span></h3>
    </div>
    <!-- /ko -->
</div>
@Html.Hidden("GameId", (object)Model)
@Html.Hidden("TournamentId", (object)ViewBag.TournamentId)
<div class="clearfix"></div>
<div data-bind="visible: controlsVisible" style="display: none">
    <div class="btn-toolbar replay-btns" >
        <div class="btn-group">
            <button class="btn btn-large btn-danger" data-bind="click: $root.reset"><i class="icon-step-backward icon-white"></i></button>
            <button data-bind="click: $root.prev" class="btn btn-large btn-danger">
                <i class="icon-play icon-white icon-rotate-180"></i>
            </button>
            <button data-bind="click: $root.next" class="btn btn-large btn-danger"><i class="icon-play icon-white"></i></button>
        </div>
        <div class="btn-group">
            <a href="#" class="btn btn-success btn-large" data-bind="click: $root.playAgain">Play again</a>
        </div>
    </div>
</div>
