@using System.Web.Optimization
@using AKQ.Web.App_Start

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>AKQbridge | @ViewBag.Title</title>

        <link rel="SHORTCUT ICON" href="~/Assets/app/css/img/favicon.ico" />
        @Styles.Render("~/content/css")
        @Scripts.Render("~/scripts/jquery-2.0.3.min.js")
    </head>
<body class="landing-layout">
    <div id="globalLoader" 
         style="display: none;" >
        <div class="circle"></div>
        <div class="circle1"></div>
    </div>
    
@Html.Partial("Navigation")
    <div id="main" ng-view>@RenderBody()</div>
</body>
</html>


