@model AKQ.Web.Models.ProfileViewModel

<h2>@Model.Username's profile</h2>

<p>Username: @Model.Username</p>
<p>Email: @Model.Email</p>
<div class="well">
    <h4>Total games: @Model.TotalGames</h4>
    <h4>Total wons: @Model.TotalWons</h4>
    <h4>Total loses: @Model.TotalLoses</h4>

    <h4>Percent of wins: @Model.Percent</h4>
</div>